<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent"> 
      
      <h2 class="active"> Sign In </h2>
      <!-- Login Form -->
      <form method="POST">
        {{ form.hidden_tag() }}
        <label for="{{ form.email.id }}">Email</label>
        {{ form.email }}
        <label for="{{ form.password.id }}">Password</label>
        {{ form.password }}
        {{ form.submit() }}
      </form>
    </div>
  </div>
  {% if error_message %}
    <div class="error-message">
      {{ error_message }}
    </div>
  {% endif %}
</body>
</html>
